body{
    background: #ccd1d1;
    padding: 30px;
}
.calculator{
    background:  #f6ddcc;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 10px;

}

.calculator_result{
    padding-top: 10px;
    font-size: larger;
}
.calc_history{
    position: center;
    text-align: center;
}

.table{
    padding-top: 10px;
}

.input_container{
    background:  #f6ddcc;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 10px;
}
.myDB{
    padding-top: 10px;
}

aside{
    position: sticky;
    background: aqua;
}

.bd-sidebar{
    position: sticky;
    top: 4rem;
}
.flex-xl-nowrap{
    flex-wrap: nowrap !important;
}